@model IEnumerable<Models.Branch>

@{
    ViewData["Title"] = "Sucursales";
}

<div>
    <h2 class="text-green-color">
        Sucursales
    </h2>
    
    <a class="link-button rounded-component btn-borderless bg-green-light" asp-action="Create">Crear Nueva</a>
   
    <table id="branch-table" class="table bg-green-opaque text-white-color table-borderless rounded-component mt-2">
        <thead class="bg-green-light">
            <tr>
                <th>Id</th>
                <th>Descripción</th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Any())
            {
                @foreach (var item in Model)
                {

                    <tr>
                        <td>@Html.DisplayFor(varItem => item.idBranch)</td>
                        <td>@Html.DisplayFor(varItem => item.description)</td>
                        <td>
                            <a class="rounded-component btn-borderless bg-green-lime link-btn-dark-text" asp-action="Edit" asp-route-id="@item.idBranch">Editar</a>
                            <a class="rounded-component btn-borderless bg-green-lime link-btn-dark-text" asp-action="Details" asp-route-id="@item.idBranch">Detalles</a>
                            <a class="rounded-component btn-borderless bg-green-lime link-btn-dark-text" asp-action="Delete" asp-route-id="@item.idBranch">Eliminar</a>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan='6' class="text-center">No se encontraron productos.</td>
                </tr>
            }

        </tbody>
    </table>
</div>

@section Scripts{
    <!--<script src="~/js/Branch/IndexBranch.js"></script>-->
}