
@{
    ViewData["Title"] = "Pagina no encontrada";
}

<div>
    <section id="title-not-found" class="d-flex justify-content-center">
        <img src="@Url.Content("~/uploads/four.png")" />
        <img src="@Url.Content("~/uploads/zero.png")" />
        <img src="@Url.Content("~/uploads/four.png")" />
    </section>
    <section class="d-flex justify-content-center">
        <p id="not-found-text">PÁGINA NO ENCONTRADA</p>
        <!--<img src="@Url.Content("~/uploads/spaceship.png")" />-->
    </section>
    <section id="unplugged" class="d-flex justify-content-center">
        <img src="@Url.Content("~/uploads/unplugged.png")" />
    </section>
    <section id="back" class="d-flex justify-content-center mt-2">
        <a class="link-button rounded-component btn-borderless bg-green-light" asp-action="Index">Volver al inicio</a>
    </section>
</div>